#pixHolder{
    display:grid;
    background: white;
    grid-template-columns: 1fr 1fr 1fr;

}

#pix{
    display:grid;
    background: black;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;


}
#pixOut{
    display:grid;
    background: black;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-column-start: 3;

}

#outNum{
    grid-column-start: 3;
}

.pixel:nth-child(odd){
    background:grey;
}
.pixel:nth-child(even){
    background:white;
}

.pixel{

}

.line {
    opacity: .5;
}
.other {
    opacity: 0.75;
}
.select{
    opacity: 1;
}

#header {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
}
#labels{
    position:relative;
    height:30px;
    font-family: 'Open Sans', sans-serif;
}
#left{
    position:absolute;
    left:10;
    font-family: 'Open Sans', sans-serif;
}
#right{
    position:absolute;
    right:10;
    font-family: 'Open Sans', sans-serif;
}
